{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"  type="text/css">
{% endblock %}

{% block content %}
<div class="login-container">
    <form action="" method="post" autocomplete="off" class="m-0">
        {{ form.hidden_tag() }}
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token }}">
        <div class="login">
            <div class="login-banner">
                <img class="app-logo" src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo" />
                <p>Quản Lý Nhà Công Sản</p>
            </div>
            <div class="login-screen">                
                <div class="app-title">
                    <!-- {% if form.logo %}
                        <img class="app-logo" src="{{form.logo}}" alt="logo" />
                    {% endif %} -->
                    <h2>{{ i18n.t('auth.login_form_title') }}</h2>
                </div>
     
                <div class="login-form">
                    {% if login_hint != "" and login_hint != None %}
                    <div class="control-group login-hint">
                        <span>{{ login_hint|safe }}</span>
                    </div>
                    {% endif %}
                    <div class="control-group">
                    <input type="text" class="login-field" value="" 
                           placeholder="{{ i18n.t('auth.username_placeholder') }}" name="username" autofocus="">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                    {% for error in form.username.errors %}
                    <span style="color: red; margin-top: 5px;">{{ error }}</span>
                    {% endfor %}
                    </div>
     
                    <div class="control-group">
                    <input id="password" type="password" class="login-field" value=""
                           placeholder="{{ i18n.t('auth.password_placeholder') }}" name="password">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                    <span class="toggle-password" onclick="togglePasswordVisibility()">
                        <i class="eye-icon eye-open"></i>
                    </span>
                    {% for error in form.password.errors %}
                    <span style="color: red; margin-top: 5px;">{{ error }}</span>
                    {% endfor %}
                    </div>
                    <script>
                        function togglePasswordVisibility() {
                            var passwordField = document.getElementById("password");
                            var eyeIcon = document.querySelector(".toggle-password .eye-icon");
                            if (passwordField.type === "password") {
                                passwordField.type = "text";
                                eyeIcon.classList.add("eye-closed");
                                eyeIcon.classList.remove("eye-open");
                            } else {
                                passwordField.type = "password";
                                eyeIcon.classList.add("eye-open");
                                eyeIcon.classList.remove("eye-closed");                                
                            }
                        }
                    </script>
                    <div class="control-group chk-remember">
                        <input type="checkbox" />
                        <label>Ghi nhớ mật khẩu</label>
                    </div>
     
                    <input type="submit" value="{{ i18n.t('auth.login_button') }}"
                           class="btn btn-login btn-large btn-block" >
                    <br>
                </div>
                <div class="login-version">
                    <p>Version 1.0.0</p>
                </div>

                <!-- <div>
                    <a href="{{ url_for('new_password') }}" class="login-link">{{ i18n.t('auth.forgot_password') }}</a>
                    {% if form.terms_url %}
                    <a href="{{form.terms_url}}" class="login-link">Terms and conditions</a>
                    {% endif %}
                </div> -->
            </div>
        </div>
    </form>
</div>
{% endblock %}
